/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any global custom styles here */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Apply Inter font globally */
  background-color: #18181b; /* Ensure a consistent background */
  color: #f4f4f5; /* Ensure text color is readable */
}
